<div class="container-fluid">
  <hr>
  <main class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-3 text-center">
          <img src="../../assets/image/user.png" class="img-responsive img-rounded" width="50" alt="">
        </div>
        <div class="col-md-9">
          <h3>Rachael, Y.</h3>
          <p>Senior Manager, BA</p>
        </div>
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Performance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ongoint Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">People Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Project History</a>
        </li>
      </ul>

    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </main>
  <hr>
</div>
